openapi: "3.0.1"
info:
  title: "Spenda API"
  description: "A serverless financial management API for transaction tracking and budget analytics."
  version: "1.0.0"

servers:
- url: "https://api.spenda.io/prod"
  description: "Production Environment"

paths:
  /transactions/list:
    post:
      summary: "List Transactions"
      security:
        - cognito-authorizer: []
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Transaction"

  /transactions/sync:
    post:
      summary: "Sync Plaid Transactions"
      security:
        - cognito-authorizer: []
      responses:
        "200":
          description: "Sync initiated"

  /add:
    post:
      summary: "Manual Expense Entry"
      security:
        - cognito-authorizer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Transaction"
      responses:
        "200":
          description: "Success"

components:
  securitySchemes:
    cognito-authorizer:
      type: "apiKey"
      name: "Authorization"
      in: "header"
      description: "JWT token from Amazon Cognito."

  schemas:
    Transaction:
      type: object
      required: [amount, date, description]
      properties:
        amount:
          type: number
          example: 45.00
        date:
          type: string
          format: date
          example: "2026-05-13"
        description:
          type: string
          example: "Grocery Store"
        category:
          type: string
          example: "Food"
